@import "tailwindcss";
@theme{
  --font-sans: 'Open Sans', sans-serif;
  --color-background: #eff6ff;
  --color-b1: #5a5ae4;
  --color-b2: #155dfc;
  --color-navtext: #666565;
  --color-herobg: #eff6ff;
  --color-p1text: #1519fc;
  --color-p1bg: #dbeafe;
  --color-limarker: #15fc47;
  --color-impbg: #155dfc;
}
